
*{
  margin:0px;
  padding:0px;
  top:0;
}
/* .blank{
  color:red;
  text-align: center;
  padding:10px 0;
  background-color: aqua;
  display: block;
  margin:10px 20px;
} */
.nav_bar{
  margin: 0px;
  background-color: rgb(49, 47, 47);
}
ul{
  display:flex;
}
li{
  list-style: none;
  margin:1% 2%;
}
a{
  text-decoration: none;
  color:white;
}
.container{
  margin:3% auto;
}
textarea{
  display: block;
  margin: 0 auto;
  width:100%;
  height: 30vh;
  bottom:0;
  resize: none;
}
.para{
  padding:12px;
  border-radius: 12px;
}
button{
  /* display: block; */
  margin: 10px 5px;
  padding: 5px 15px;
  border-radius: 15px;
  border-color: rgb(67, 85, 30);
  background-color: rgb(19, 178, 199);
  color:rgb(0, 0, 0);
  cursor: pointer;
  font-weight:bold;
}
#progressBar{
  margin:0 10%;
}