
*{
  margin:0px;
  padding:0px;
}
.blank{
  color:red;
  text-align: center;
  padding:10px 0;
  background-color: aqua;
  display: block;
  margin:10px 20px;
}
.nav_bar{
  margin: 1px 0 1px 0;
  background-color: rgb(49, 47, 47);
}
ul{
  display:flex;
}
li{
  list-style: none;
  margin:12px;
}
a{
  text-decoration: none;
  color:white;
}